# dev
.vscode/
.ccls-cache/

# build
build/
spdk/
xnvme/
simpleznsdevice/
venv/
.cache/

# third party
civetweb-1.16/
civetweb-v1.16.tar.gz
curlpp-0.7.3.tar.gz
curlpp-0.7.3/
curlpp-0.8.1.tar.gz
curlpp-0.8.1/
curlpp/

lib/

*/backend.*
*/webServer.*

data*.txt
data/
broken*
